.ds-camtech-transaction-wrapper {
    margin: 0;
}
#ds-camtech-order-transactions .inside {
    background: none repeat scroll 0 0 #FEFEFE;
    margin: 0;
    padding: 0;    
}
.ds-camtech-transaction-wrapper table.ds-camtech-transactions{
    background: none repeat scroll 0 0 #FFFFFF;
    width: 100%;    
}

.ds-camtech-transaction-wrapper table.ds-camtech-transactions thead th {
    background: none repeat scroll 0 0 #ECECEC;
    font-size: 11px;
    padding: 8px;
    text-align: left;
}
.ds-camtech-transaction-wrapper table.ds-camtech-transactions thead th.center {
    text-align: center;
}

.ds-camtech-transaction-wrapper table.ds-camtech-transactions td {
    border-bottom: 1px dotted #ECECEC;
    line-height: 26px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.ds-camtech-transaction-wrapper table.ds-camtech-transactions td.center {
    text-align: center;
}

table.ds-camtech-transactions .redcell {
    background-color: red;
    color: white;
    padding: 2px 5px; 
}

table.ds-camtech-transactions .greencell {
    background-color: #00cc00;
    color: black;   
    padding: 2px 5px; 
}


